{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>My name is Dewald Fourie. I am an aspiring developer and software engineer. </p>
        <p>I love solving problems and the satisfaction that it gives. My Hobbies include making food on the braai, playing golf, and spending quality time with my family.</p>
        <p>This is my very first Blog Post site that I created from scratch using Python, HTML, CSS and SQLite</p>
        <p>I hope you enjoy the experience, and please reach me via the
          <a class="inline" href="{{ url_for('contact') }}">Contact</a>
          post to get in touch for any suggestions or problems regarding this site.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}